# TOOL ENTRYPOINTS
cpm.bat
# ------------------------------------------------------------------------------
# BUILD AND INSTALL
[Bb]uild
[Ii]nstall
# ------------------------------------------------------------------------------